.jobs-main-cont{
    width: 100%;
    background-color: black;
    display: flex;
}
.filter-section{
    width: 30%;
    height: 100%;
}
.all-jobs-card-cont{
    width: 70%;
    height: 100%;
    padding: 20px;
}